@layer components {
  /* === DEFAULT === */
  .lux-tabs {
    @apply relative;
  }
  .lux-tabs-list {
    @apply inline-flex items-center justify-center rounded-lg bg-muted p-[3px] text-muted-foreground;
  }
  .lux-tabs-trigger {
    @apply cursor-pointer inline-flex items-center justify-center whitespace-nowrap gap-1.5 rounded-md border border-transparent px-1.5 py-0.5 text-sm font-medium transition-all;
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring;
    @apply disabled:pointer-events-none disabled:opacity-50;
  }
  .lux-tabs-content {
    @apply mt-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring;
  }

}

