@layer components {
  /* === DEFAULT === */
  .lux-h1 {
    @apply scroll-m-20 text-4xl font-bold tracking-tight;
  }
  .lux-h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight;
  }
  .lux-h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  .lux-h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  .lux-p {
    @apply leading-7;
  }
  .lux-lead {
    @apply text-xl text-muted-foreground;
  }
  .lux-large {
    @apply text-lg font-semibold;
  }
  .lux-small {
    @apply text-sm font-medium leading-none;
  }
  .lux-muted {
    @apply text-sm text-muted-foreground;
  }
  .lux-blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  .lux-inline-code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
  .lux-list {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

}

