@layer components {
  /* === DEFAULT === */
  .lux-card {
    @apply bg-card text-card-foreground gap-4 overflow-hidden rounded-xl p-5 text-sm ring-1 ring-border;
    @apply flex flex-col;
  }
  .lux-card-header {
    @apply gap-2;
  }
  .lux-card-title {
    @apply text-lg leading-snug font-medium;
  }
  .lux-card-description {
    @apply text-muted-foreground text-sm;
  }
  .lux-card-content {
  }
  .lux-card-footer {
    @apply bg-muted/50 rounded-b-xl border-t p-5 -mx-5 -mb-5 mt-auto;
    @apply justify-self-end;
  }

}

