@layer components {
  /* === DEFAULT === */
  .lux-input {
    @apply border-input focus-visible:border-ring focus-visible:ring-ring/50 h-8 w-full rounded-lg border bg-transparent px-2.5 text-sm focus-visible:ring-[3px];
    @apply placeholder:text-muted-foreground;
    @apply file:border-0 file:bg-transparent file:text-sm file:font-medium;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply focus-visible:outline-none;
  }

  /* === NOVA === */
  .style-nova .lux-input {
    @apply border-input dark:bg-input/30 focus-visible:border-ring focus-visible:ring-ring/50 h-8 w-full rounded-lg border bg-transparent px-2.5 text-sm focus-visible:ring-[3px] disabled:bg-input/50;
  }

  /* === VEGA === */
  .style-vega .lux-input {
    @apply border-input dark:bg-input/30 focus-visible:border-ring focus-visible:ring-ring/50 h-9 w-full rounded-md border bg-transparent px-2.5 text-sm shadow-xs focus-visible:ring-[3px];
  }

  /* === MAIA === */
  .style-maia .lux-input {
    @apply border-input bg-input/30 focus-visible:border-ring focus-visible:ring-ring/50 h-9 w-full rounded-4xl border py-1 px-3 text-sm focus-visible:ring-[3px];
  }

  /* === LYRA === */
  .style-lyra .lux-input {
    @apply border-input dark:bg-input/30 focus-visible:border-ring focus-visible:ring-ring/50 h-8 w-full rounded-none border bg-transparent px-2.5 text-xs focus-visible:ring-1;
  }

  /* === MIRA === */
  .style-mira .lux-input {
    @apply border-input bg-input/20 dark:bg-input/30 focus-visible:border-ring focus-visible:ring-ring/30 h-7 w-full rounded-md border px-2 text-xs focus-visible:ring-[2px];
  }
}
