@layer components {
  /* === DEFAULT === */
  .lux-input {
    @apply border-input focus-visible:border-ring focus-visible:ring-ring/50 h-8 w-full rounded-lg border bg-transparent px-2.5 text-sm focus-visible:ring-[3px];
    @apply placeholder:text-muted-foreground;
    @apply file:border-0 file:bg-transparent file:text-sm file:font-medium;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply focus-visible:outline-none;
  }

}

