@layer components {
  /* === DEFAULT === */
  .lux-dialog {
    @apply relative;
  }
  .lux-dialog-trigger {
    @apply focus-visible:outline-none;
  }
  .lux-dialog-content {
    @apply fixed left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] w-full max-w-lg bg-background rounded-xl p-4 ring-1 ring-border shadow-lg text-foreground;
    @apply opacity-0 scale-95 transition-[opacity,scale,overlay,display] duration-300 ease-out [transition-behavior:allow-discrete];
    @apply open:opacity-100 open:scale-100;
    @apply [@starting-style]:open:opacity-0 [@starting-style]:open:scale-95;
    @apply backdrop:[transition-behavior:allow-discrete] backdrop:bg-black/80 backdrop:opacity-0 backdrop:transition-[opacity,display,overlay] backdrop:duration-300;
    @apply open:backdrop:opacity-100 [@starting-style]:open:backdrop:opacity-0;
  }
  .lux-dialog-close-button {
    @apply absolute right-4 top-4 rounded-sm opacity-70 transition-opacity hover:opacity-100;
    @apply focus:outline-none focus:ring-2 focus:ring-ring disabled:pointer-events-none;
  }
  .lux-dialog-header {
    @apply flex flex-col gap-1.5 text-center sm:text-left mb-4;
  }
  .lux-dialog-title {
    @apply text-base font-medium leading-none tracking-tight;
  }
  .lux-dialog-body {
    @apply overflow-y-auto max-h-[calc(100dvh-16rem)];
  }
  .lux-dialog-footer {
    @apply flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2 bg-muted/50 -mx-4 -mb-4 rounded-b-xl border-t p-4 mt-4;
  }
  .lux-dialog-close {
  }

}

