@layer components {
  /* === DEFAULT === */
  .lux-checkbox {
    @apply border-input focus-visible:border-ring focus-visible:ring-ring/50 size-4 shrink-0 rounded-[4px] border bg-transparent focus-visible:ring-[3px];
    @apply focus-visible:outline-none;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply transition-[box-shadow,border-color] duration-200;
  }
  .lux-checkbox[data-checked="true"] {
    @apply bg-primary text-primary-foreground border-primary;
  }
  .lux-checkbox-indicator {
    @apply flex items-center justify-center text-current;
  }

}

