@layer components {
  .lux-scroll-area { @apply relative overflow-hidden; }
  .lux-scroll-area-viewport {
    @apply size-full overflow-auto rounded-[inherit];
    @apply focus-visible:ring-ring/50 transition-[color,box-shadow] outline-none focus-visible:ring-[3px] focus-visible:outline-1;
    /* Hide native scrollbar */
    scrollbar-width: none;
  }
  .lux-scroll-area-viewport::-webkit-scrollbar { display: none; }
  .lux-scroll-area-scrollbar {
    @apply touch-none p-px select-none;
    @apply absolute;
  }
  .lux-scroll-area-scrollbar-vertical { @apply right-0 top-0 h-full w-2.5 border-l border-l-transparent; }
  .lux-scroll-area-scrollbar-vertical .lux-scroll-area-thumb { @apply w-full; }
  .lux-scroll-area-scrollbar-horizontal { @apply bottom-0 left-0 h-2.5 w-full border-t border-t-transparent; }
  .lux-scroll-area-scrollbar-horizontal .lux-scroll-area-thumb { @apply h-full; }
  .lux-scroll-area-thumb { @apply bg-border absolute rounded-full; }
}
