@layer components {
  /* === DEFAULT === */
  .lux-button {
    --_c: var(--color-foreground);
    @apply !cursor-pointer relative inline-flex items-center justify-center whitespace-nowrap;
    @apply rounded-lg border border-transparent bg-clip-padding text-sm font-medium;
    @apply disabled:pointer-events-none disabled:opacity-50;
    @apply active:scale-[0.97];
    @apply focus-visible:outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px];
    @apply [transition:transform_50ms_ease-out,color_200ms_ease-in-out];
  }
  .lux-button::after {
    content: '';
    @apply absolute inset-0 m-auto size-[1.2em] rounded-full;
    border: 2px solid var(--_c);
    border-top-color: transparent;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  .lux-button-variant-primary {
    --_c: var(--color-primary-foreground);
    @apply bg-primary text-primary-foreground hover:bg-primary/80;
  }
  .lux-button-variant-outline {
    @apply border-border bg-background hover:bg-muted hover:text-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50;
  }
  .lux-button-variant-secondary {
    --_c: var(--color-secondary-foreground);
    @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
  }
  .lux-button-variant-ghost {
    @apply hover:bg-muted hover:text-foreground dark:hover:bg-muted/50;
  }
  .lux-button-variant-destructive {
    --_c: var(--color-destructive);
    @apply bg-destructive/10 hover:bg-destructive/20 focus-visible:ring-destructive/20 dark:focus-visible:ring-destructive/40 dark:bg-destructive/20 text-destructive;
  }
  .lux-button-variant-link {
    --_c: var(--color-primary);
    @apply text-primary underline-offset-4 hover:underline;
  }

  .lux-button-size-sm { @apply h-7 gap-1 px-2.5 text-xs; }
  .lux-button-size-md { @apply h-9 gap-1.5 px-3 text-sm; }
  .lux-button-size-lg { @apply h-11 gap-1.5 px-4 text-lg; }
  .lux-button-size-xl { @apply h-13 gap-2 px-5 text-xl; }
  .lux-button-size-icon { @apply size-8; }

  .lux-button-loading {
    color: transparent !important;
  }
  .lux-button-loading::after {
    opacity: 1;
    animation: lux-spin 0.6s linear infinite;
  }

  @keyframes lux-spin {
    to { transform: rotate(360deg); }
  }

}
