@layer components {
  /* === DEFAULT === */
  .lux-steps {
    @apply mb-12 ml-4 border-l;
  }
  .lux-steps-item {
    @apply relative;
  }
  .lux-steps-item-title {
    @apply relative pl-10 font-semibold mt-8 scroll-m-20 text-sm tracking-tight;
    @apply before:content-[attr(data-step)] before:absolute before:inline-flex before:h-9 before:w-9 before:items-center before:justify-center before:rounded-lg before:border-4 before:border-background before:bg-muted before:text-center before:font-mono before:text-base before:leading-6 before:font-medium before:text-foreground before:ml-[-63px] before:mt-[-4px] before:text-primary;
  }
  .lux-steps-item-content {
    @apply pl-10;
  }

}

