@layer components {
  /* === DEFAULT === */
  .lux-form {
  }
  .lux-form-item {
    @apply grid gap-1.5;
  }
  .lux-form-label {
    @apply text-sm font-medium;
  }
  .lux-form-description {
    @apply text-sm text-muted-foreground;
  }
  .lux-form-message {
    @apply text-sm font-medium text-destructive;
  }

}

