@layer components {
  /* === DEFAULT === */
  .lux-context-menu {
  }
  .lux-context-menu-trigger {
  }
  .lux-context-menu-content {
    @apply absolute z-50 min-w-[8rem] bg-popover text-popover-foreground rounded-xl p-1 ring-1 ring-border shadow-lg;
  }
  .lux-context-menu-item {
    @apply relative flex cursor-default select-none items-center outline-none rounded-md px-2 py-1.5 text-sm cursor-pointer;
    @apply hover:bg-accent hover:text-accent-foreground;
    @apply data-[disabled=true]:pointer-events-none data-[disabled=true]:opacity-50;
  }
  .lux-context-menu-separator {
    @apply -mx-1 my-1 h-px bg-border;
  }
  .lux-context-menu-label {
    @apply px-2 py-1.5 text-sm font-semibold;
  }
  .lux-context-menu-shortcut {
    @apply ml-auto text-xs tracking-widest text-muted-foreground;
  }

}

