@layer components {
  /* === DEFAULT === */
  .lux-context-menu {
  }
  .lux-context-menu-trigger {
  }
  .lux-context-menu-content {
    @apply absolute z-50 min-w-[8rem] bg-popover text-popover-foreground rounded-xl p-1 ring-1 ring-border shadow-lg;
  }
  .lux-context-menu-item {
    @apply relative flex cursor-default select-none items-center outline-none rounded-md px-2 py-1.5 text-sm cursor-pointer;
    @apply hover:bg-accent hover:text-accent-foreground;
    @apply focus:bg-accent focus:text-accent-foreground;
    @apply data-[disabled=true]:pointer-events-none data-[disabled=true]:opacity-50;
  }
  .lux-context-menu-separator {
    @apply -mx-1 my-1 h-px bg-border;
  }
  .lux-context-menu-label {
    @apply px-2 py-1.5 text-sm font-semibold;
  }
  .lux-context-menu-shortcut {
    @apply ml-auto text-xs tracking-widest text-muted-foreground;
  }
  .lux-context-menu-checkbox-item {
    @apply relative flex items-center rounded-sm py-1.5 pl-8 pr-2 text-sm cursor-default select-none outline-none;
    @apply focus:bg-accent focus:text-accent-foreground;
  }
  .lux-context-menu-radio-item {
    @apply relative flex items-center rounded-sm py-1.5 pl-8 pr-2 text-sm cursor-default select-none outline-none;
    @apply focus:bg-accent focus:text-accent-foreground;
  }
  .lux-context-menu-sub {
    @apply relative;
  }
  .lux-context-menu-sub-trigger {
    @apply flex w-full items-center rounded-md px-2 py-1.5 text-sm outline-none cursor-default select-none;
    @apply focus:bg-accent focus:text-accent-foreground;
  }
  .lux-context-menu-sub-trigger-inset {
    @apply pl-8;
  }
  .lux-context-menu-sub-content {
    @apply absolute left-full top-0 z-50 min-w-[8rem] rounded-md bg-popover p-1 text-popover-foreground ring-1 ring-border shadow-md;
  }

}
