@layer components {
  .lux-table-container { @apply relative w-full overflow-x-auto; }
  .lux-table { @apply w-full caption-bottom text-sm; }
  .lux-table-header { @apply [&_tr]:border-b; }
  .lux-table-body { @apply [&_tr:last-child]:border-0; }
  .lux-table-footer { @apply bg-muted/50 border-t font-medium [&>tr]:last:border-b-0; }
  .lux-table-row { @apply hover:bg-muted/50 data-[state=selected]:bg-muted border-b transition-colors; }
  .lux-table-head { @apply text-foreground h-10 px-2 text-left align-middle font-medium whitespace-nowrap [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]; }
  .lux-table-cell { @apply p-2 align-middle whitespace-nowrap [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]; }
  .lux-table-caption { @apply text-muted-foreground mt-4 text-sm; }
}
