@layer components {
  /* === DEFAULT === */
  .lux-separator {
    @apply shrink-0 bg-border;
  }
  .lux-separator-horizontal {
    @apply h-[1px] w-full;
  }
  .lux-separator-vertical {
    @apply h-full w-[1px];
  }

}

