@layer components {
  /* === DEFAULT === */
  .lux-carousel {
    @apply relative overflow-hidden rounded-lg;
  }
  .lux-carousel-content {
    @apply flex;
  }
  .lux-carousel-item {
    @apply min-w-0 shrink-0 grow-0;
  }
  .lux-carousel-previous,
  .lux-carousel-next {
    @apply absolute top-1/2 -translate-y-1/2 cursor-pointer;
    @apply inline-flex items-center justify-center rounded-full border bg-background p-2 shadow-sm;
    @apply hover:bg-accent hover:text-accent-foreground;
    @apply disabled:pointer-events-none disabled:opacity-50;
  }
  .lux-carousel-previous {
    @apply left-2;
  }
  .lux-carousel-next {
    @apply right-2;
  }

}

