@layer components {
  /* === DEFAULT === */
  .lux-breadcrumb {
  }
  .lux-breadcrumb-list {
    @apply flex flex-wrap items-center break-words text-muted-foreground gap-1.5 text-sm;
  }
  .lux-breadcrumb-item {
    @apply inline-flex items-center gap-1.5;
  }
  .lux-breadcrumb-link {
    @apply hover:text-foreground transition-colors;
  }
  .lux-breadcrumb-separator {
    @apply flex items-center justify-center text-muted-foreground [&>svg]:size-3.5;
  }
  .lux-breadcrumb-page {
    @apply text-foreground font-normal;
  }
  .lux-breadcrumb-ellipsis {
    @apply h-4 w-4;
  }

}

