@layer components {
  /* === DEFAULT === */
  .lux-breadcrumb {
  }
  .lux-breadcrumb-list {
    @apply flex flex-wrap items-center break-words text-muted-foreground gap-1.5 text-sm;
  }
  .lux-breadcrumb-item {
    @apply inline-flex items-center gap-1.5;
  }
  .lux-breadcrumb-link {
    @apply hover:text-foreground transition-colors;
  }
  .lux-breadcrumb-separator {
    @apply flex items-center justify-center text-muted-foreground [&>svg]:size-3.5;
  }
  .lux-breadcrumb-page {
    @apply text-foreground font-normal;
  }

  /* === NOVA === */
  .style-nova .lux-breadcrumb-list {
    @apply text-muted-foreground gap-1.5 text-sm;
  }
  .style-nova .lux-breadcrumb-link {
    @apply hover:text-foreground transition-colors;
  }
  .style-nova .lux-breadcrumb-page {
    @apply text-foreground font-normal;
  }
  .style-nova .lux-breadcrumb-separator {
    @apply [&>svg]:size-3.5;
  }

  /* === VEGA === */
  .style-vega .lux-breadcrumb-list {
    @apply text-muted-foreground gap-1.5 text-sm;
  }
  .style-vega .lux-breadcrumb-link {
    @apply hover:text-foreground transition-colors;
  }
  .style-vega .lux-breadcrumb-page {
    @apply text-foreground font-normal;
  }
  .style-vega .lux-breadcrumb-separator {
    @apply [&>svg]:size-3.5;
  }

  /* === MAIA === */
  .style-maia .lux-breadcrumb-list {
    @apply text-muted-foreground gap-1.5 text-sm;
  }
  .style-maia .lux-breadcrumb-link {
    @apply hover:text-foreground transition-colors;
  }
  .style-maia .lux-breadcrumb-page {
    @apply text-foreground font-normal;
  }
  .style-maia .lux-breadcrumb-separator {
    @apply [&>svg]:size-3.5;
  }

  /* === LYRA === */
  .style-lyra .lux-breadcrumb-list {
    @apply text-muted-foreground gap-1.5 text-xs;
  }
  .style-lyra .lux-breadcrumb-link {
    @apply hover:text-foreground transition-colors;
  }
  .style-lyra .lux-breadcrumb-page {
    @apply text-foreground font-normal;
  }
  .style-lyra .lux-breadcrumb-separator {
    @apply [&>svg]:size-3.5;
  }

  /* === MIRA === */
  .style-mira .lux-breadcrumb-list {
    @apply text-muted-foreground gap-1.5 text-xs;
  }
  .style-mira .lux-breadcrumb-link {
    @apply hover:text-foreground transition-colors;
  }
  .style-mira .lux-breadcrumb-page {
    @apply text-foreground font-normal;
  }
  .style-mira .lux-breadcrumb-separator {
    @apply [&>svg]:size-3.5;
  }
}
