@layer components {
  /* === DEFAULT === */
  .lux-popover {
  }
  .lux-popover-trigger {
  }
  .lux-popover-content {
    @apply absolute z-50 w-80 bg-popover text-popover-foreground rounded-xl p-4 ring-1 ring-border shadow-lg outline-none;
  }

}

