@layer components {
  /* === DEFAULT === */
  .lux-textarea {
    @apply border-input focus-visible:border-ring focus-visible:ring-ring/50 w-full min-h-[80px] rounded-lg border bg-transparent px-2.5 py-2 text-sm focus-visible:ring-[3px];
    @apply placeholder:text-muted-foreground;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply focus-visible:outline-none;
    @apply transition-[box-shadow,border-color] duration-200;
  }

}

