@layer components {
  /* === DEFAULT === */
  .lux-badge {
    @apply inline-flex items-center h-5 gap-1 rounded-4xl border border-transparent px-2 py-0.5 text-xs font-medium;
  }
  .lux-badge-variant-default {
    @apply bg-primary text-primary-foreground;
  }
  .lux-badge-variant-secondary {
    @apply bg-secondary text-secondary-foreground;
  }
  .lux-badge-variant-outline {
    @apply border-border text-foreground;
  }
  .lux-badge-variant-destructive {
    @apply bg-destructive/10 text-destructive dark:bg-destructive/20;
  }

}

