@layer components {
  /* === DEFAULT === */
  .lux-dropdown-menu {
  }
  .lux-dropdown-menu-trigger {
    @apply cursor-pointer;
  }
  .lux-dropdown-menu-content {
    @apply absolute z-50 min-w-[8rem] w-56 bg-popover text-popover-foreground rounded-xl p-1 ring-1 ring-border shadow-lg;
  }
  .lux-dropdown-menu-item {
    @apply w-full flex outline-none rounded-md px-2 py-1.5 text-sm cursor-pointer hover:bg-accent hover:text-accent-foreground;
    @apply disabled:pointer-events-none disabled:opacity-50;
  }
  .lux-dropdown-menu-separator {
    @apply -mx-1 my-1 h-px bg-border;
  }
  .lux-dropdown-menu-label {
    @apply block px-2 py-1.5 text-xs font-semibold;
  }

  /* === NOVA === */
  .style-nova .lux-dropdown-menu-content {
    @apply bg-popover text-popover-foreground rounded-xl p-1 ring-1 ring-border shadow-lg;
  }
  .style-nova .lux-dropdown-menu-item {
    @apply rounded-md px-2 py-1.5 text-sm cursor-pointer hover:bg-accent hover:text-accent-foreground;
  }

  /* === VEGA === */
  .style-vega .lux-dropdown-menu-content {
    @apply rounded-xl p-1 shadow-lg ring-1 ring-border;
  }
  .style-vega .lux-dropdown-menu-item {
    @apply rounded-md px-2 py-1.5 text-sm cursor-pointer hover:bg-accent hover:text-accent-foreground;
  }

  /* === MAIA === */
  .style-maia .lux-dropdown-menu-content {
    @apply rounded-2xl p-2 ring-1 ring-border;
  }
  .style-maia .lux-dropdown-menu-item {
    @apply rounded-xl px-3 py-2 text-sm;
  }
  .style-maia .lux-dropdown-menu-separator {
    @apply my-2 bg-border/50;
  }
  .style-maia .lux-dropdown-menu-label {
    @apply px-3 py-2;
  }

  /* === LYRA === */
  .style-lyra .lux-dropdown-menu-content {
    @apply rounded-none p-1 ring-1 ring-border;
  }
  .style-lyra .lux-dropdown-menu-item {
    @apply rounded-none px-2 py-1.5 text-xs;
  }
  .style-lyra .lux-dropdown-menu-separator {
    @apply my-1 h-0.5 bg-border;
  }
  .style-lyra .lux-dropdown-menu-label {
    @apply font-bold text-xs;
  }

  /* === MIRA === */
  .style-mira .lux-dropdown-menu-content {
    @apply rounded-lg p-0.5 ring-1 ring-border shadow-md;
  }
  .style-mira .lux-dropdown-menu-item {
    @apply rounded-sm px-1.5 py-1 text-xs;
  }
  .style-mira .lux-dropdown-menu-separator {
    @apply my-0.5;
  }
  .style-mira .lux-dropdown-menu-label {
    @apply px-1.5 py-1 text-xs;
  }
}
