@layer components {
  /* === DEFAULT === */
  .lux-accordion {
  }
  .lux-accordion-item {
    @apply not-last:border-b;
  }
  .lux-accordion-trigger {
    @apply flex w-full flex-1 items-center justify-between rounded-lg py-2.5 text-sm font-medium hover:underline;
    @apply focus-visible:underline focus-visible:outline-none;
  }
  .lux-accordion-trigger-icon {
    @apply h-4 w-4 shrink-0 transition-transform duration-200;
  }
  .lux-accordion-content {
    @apply overflow-hidden text-sm;
  }
  .lux-accordion-content-inner {
    @apply pb-4 pt-0;
  }

}

