@layer components {
  /* === DEFAULT === */
  .lux-sheet {
    @apply relative;
  }
  .lux-sheet-trigger {
    @apply focus-visible:outline-none;
  }
  .lux-sheet-content {
    @apply fixed z-50 bg-background shadow-lg ring-1 ring-border text-foreground;
    @apply [transition-behavior:allow-discrete];
    @apply backdrop:[transition-behavior:allow-discrete] backdrop:bg-black/80 backdrop:opacity-0 backdrop:transition-[opacity,display,overlay] backdrop:duration-300;
    @apply open:backdrop:opacity-100 [@starting-style]:open:backdrop:opacity-0;
  }
  .lux-sheet-content-inner {
    @apply h-full overflow-y-auto;
  }

  /* === SIDE VARIANTS === */
  .lux-sheet-content-side-right {
    @apply inset-y-0 right-0 h-full w-3/4 sm:max-w-sm border-l;
    @apply translate-x-full transition-[transform,overlay,display] duration-300 ease-out;
    @apply open:translate-x-0;
    @apply [@starting-style]:open:translate-x-full;
  }
  .lux-sheet-content-side-left {
    @apply inset-y-0 left-0 h-full w-3/4 sm:max-w-sm border-r;
    @apply -translate-x-full transition-[transform,overlay,display] duration-300 ease-out;
    @apply open:translate-x-0;
    @apply [@starting-style]:open:-translate-x-full;
  }
  .lux-sheet-content-side-top {
    @apply inset-x-0 top-0 w-full border-b;
    @apply -translate-y-full transition-[transform,overlay,display] duration-300 ease-out;
    @apply open:translate-y-0;
    @apply [@starting-style]:open:-translate-y-full;
  }
  .lux-sheet-content-side-bottom {
    @apply inset-x-0 bottom-0 w-full border-t;
    @apply translate-y-full transition-[transform,overlay,display] duration-300 ease-out;
    @apply open:translate-y-0;
    @apply [@starting-style]:open:translate-y-full;
  }

  /* === SUB-COMPONENTS === */
  .lux-sheet-header {
    @apply flex flex-col gap-1.5 p-6;
  }
  .lux-sheet-title {
    @apply text-lg font-semibold;
  }
  .lux-sheet-description {
    @apply text-sm text-muted-foreground;
  }
  .lux-sheet-footer {
    @apply flex flex-col-reverse sm:flex-row sm:justify-end gap-2 p-6 pt-0;
  }
  .lux-sheet-close-button {
    @apply absolute right-4 top-4 rounded-sm opacity-70 transition-opacity hover:opacity-100;
  }
  .lux-sheet-close {
  }
}
