@layer components {
  /* === DEFAULT === */
  .lux-command {
    @apply flex h-full w-full flex-col bg-popover text-popover-foreground rounded-xl ring-1 ring-border overflow-hidden;
  }
  .lux-command-input {
    @apply flex w-full h-9 border-b border-border bg-transparent px-3 text-sm outline-none;
    @apply placeholder:text-muted-foreground;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
  }
  .lux-command-input-wrapper {
    @apply flex items-center;
  }
  .lux-command-list {
    @apply max-h-[300px] overflow-y-auto overflow-x-hidden p-1;
  }
  .lux-command-empty {
    @apply py-6 text-center text-sm;
  }
  .lux-command-group {
    @apply overflow-hidden text-foreground;
  }
  .lux-command-group-heading {
    @apply px-2 py-1.5 text-xs text-muted-foreground font-medium;
  }
  .lux-command-item {
    @apply relative flex cursor-default select-none items-center outline-none rounded-md px-2 py-1.5 text-sm cursor-pointer;
    @apply hover:bg-accent hover:text-accent-foreground;
    @apply data-[active=true]:bg-accent data-[active=true]:text-accent-foreground;
    @apply aria-selected:bg-accent aria-selected:text-accent-foreground;
  }
  .lux-command-separator {
    @apply -mx-1 h-px bg-border;
  }
  .lux-command-shortcut {
    @apply ml-auto text-xs tracking-widest text-muted-foreground;
  }
  .lux-command-dialog {
    @apply overflow-hidden p-0 shadow-lg;
  }

}

