@layer components {
  /* === DEFAULT === */
  .lux-data-table {
    @apply w-full;
  }
  .lux-data-table-wrapper {
    @apply overflow-hidden rounded-lg ring-1 ring-border;
  }
  .lux-data-table-header {
  }
  .lux-data-table-header-row {
    @apply border-b;
  }
  .lux-data-table-header-cell {
    @apply h-10 px-3 text-left align-middle text-sm font-medium text-muted-foreground;
  }
  .lux-data-table-body {
  }
  .lux-data-table-row {
    @apply border-b transition-colors hover:bg-muted/50;
  }
  .lux-data-table-cell {
    @apply px-3 py-2.5 align-middle text-sm;
  }
  .lux-data-table-footer {
    @apply border-t bg-muted/50;
  }

}

