@layer components {
  /* === DEFAULT === */
  .lux-window {
    @apply rounded-xl ring-1 ring-border bg-card shadow-lg overflow-hidden;
  }
  .lux-window-title {
    @apply flex justify-between items-center cursor-move border-b p-5 py-3 text-sm font-medium text-muted-foreground select-none;
  }
  .lux-window-content {
    @apply p-4 overflow-y-auto;
  }

}

