@layer components {
  /* === DEFAULT === */
  .lux-window {
    @apply rounded-xl ring-1 ring-border bg-card shadow-lg overflow-hidden;
  }
  .lux-window-title {
    @apply flex items-center gap-2 px-4 py-2 bg-muted/50 border-b text-sm font-medium text-muted-foreground;
  }
  .lux-window-content {
    @apply p-4;
  }

}

