@layer components {
  /* === DEFAULT === */
  .lux-alert {
    @apply rounded-lg border px-2.5 py-2 text-sm;
  }
  .lux-alert-variant-default {
    @apply bg-card text-card-foreground;
  }
  .lux-alert-variant-destructive {
    @apply text-destructive bg-card;
  }
  .lux-alert-title {
    @apply mb-1 font-medium leading-none tracking-tight;
  }
  .lux-alert-description {
    @apply text-sm [&_p]:leading-relaxed;
  }

}

