@layer components {
  /* === DEFAULT === */
  .lux-alert {
    @apply rounded-lg border px-2.5 py-2 text-sm;
  }
  .lux-alert-variant-default {
    @apply bg-card text-card-foreground;
  }
  .lux-alert-variant-destructive {
    @apply text-destructive bg-card;
  }
  .lux-alert-title {
    @apply mb-1 font-medium leading-none tracking-tight;
  }
  .lux-alert-description {
    @apply text-sm [&_p]:leading-relaxed;
  }

  /* === NOVA === */
  .style-nova .lux-alert {
    @apply rounded-lg border px-2.5 py-2 text-sm;
  }
  .style-nova .lux-alert-variant-default {
    @apply bg-card text-card-foreground;
  }
  .style-nova .lux-alert-variant-destructive {
    @apply text-destructive bg-card;
  }

  /* === VEGA === */
  .style-vega .lux-alert {
    @apply rounded-lg border px-2.5 py-2 text-sm shadow-xs;
  }
  .style-vega .lux-alert-variant-default {
    @apply bg-card text-card-foreground;
  }
  .style-vega .lux-alert-variant-destructive {
    @apply text-destructive bg-card;
  }

  /* === MAIA === */
  .style-maia .lux-alert {
    @apply rounded-2xl border px-4 py-3 text-sm;
  }
  .style-maia .lux-alert-variant-default {
    @apply bg-card text-card-foreground;
  }
  .style-maia .lux-alert-variant-destructive {
    @apply text-destructive bg-card;
  }

  /* === LYRA === */
  .style-lyra .lux-alert {
    @apply rounded-none border px-2.5 py-2 text-xs;
  }
  .style-lyra .lux-alert-variant-default {
    @apply bg-card text-card-foreground;
  }
  .style-lyra .lux-alert-variant-destructive {
    @apply text-destructive bg-card;
  }

  /* === MIRA === */
  .style-mira .lux-alert {
    @apply rounded-lg border px-2 py-1.5 text-xs;
  }
  .style-mira .lux-alert-variant-default {
    @apply bg-card text-card-foreground;
  }
  .style-mira .lux-alert-variant-destructive {
    @apply text-destructive bg-card;
  }
}
